@import 'styles/_colors';

.Pics {
  background-color: $lightest;
  color: $medgrey;

  h4 {
    color: $dark;
  }

  .pic-card {
    height: 250px;
    margin-bottom: 50px;

    .picture {
      max-width: 90%;
      max-height: 190px;
    }

    .picture:hover {
      opacity: .6;
    }
  }
}