@import 'styles/_colors';

.MyCollection {
  background-color: $lightest;
  color: $medgrey;
  margin-top: 85px;

  h5 {
    color: $dark;
  }

  .btn-dark {
    background-color: $dark;
    color: $lightest;
    margin: 5px 3px;
  }

  .btn-dark:hover {
    background-color: $medgrey;
  }

  .pic-list {
    width: 90%;
    margin: 0 auto;
  }

  .pic-card {
    height: 350px;
    margin-bottom: 20px;
    position: relative;
    overflow-x: hidden;

    .buttons-and-name {
      position: absolute;
      background-color: rgba(255,255,255,.7);
      bottom: 0;
      width: 100%;
      display: block;
      opacity: 0;
    }

    .picture {
      height: 350px;
    }
  }

  .pic-card:hover {
    .buttons-and-name {
      opacity: 1;
    }
    .picture {
      opacity: .7;
    }
  }
}