@import 'styles/_colors';

.MyCollection {
  background-color: $lightest;
  color: $medgrey;

  h5 {
    color: $dark;
  }

  .btn {
    font-size: 12px;
    padding: 2px 6px;
    margin: 0 5px;
  }

  .pic-card {
    min-height: 350px;
    margin-bottom: 20px;

    .picture {
      max-width: 100%;
      max-height: 280px;
    }

    .picture:hover {
      opacity: .6;
    }
  }
}