@import 'styles/_colors';

.MyCollection {
  background-color: $lightest;
  color: $medgrey;

  h4 {
    color: $dark;
  }

  .pic-card {
    min-height: 350px;
    margin-bottom: 15px;

    .picture {
      max-width: 100%;
      max-height: 280px;
    }

    .picture:hover {
      opacity: .6;
    }
  }
}