@font-face {
	font-family: 'Brushed Traveler';
	src: url('./fonts/Brushed-Traveler.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'texgyreadventor-regular';
	src: url('./fonts/texgyreadventor-regular.otf');
	font-weight: normal;
	font-style: normal;
}