@import '_colors';
@import '_fonts';

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  color: $melapix;
}

ul {
  list-style: none;
}

.heading {
  font-family: 'texgyreadventor-regular';
}

.heading-accent {
  font-family: 'Brushed Traveler';
}

.btn-success {
  background-color: $melapix;
  border: none;
}

.btn-success:hover {
  background-color: $melapixLight;
}