@import '_colors';

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  color: $melapix;
}

ul {
  list-style: none;
}

.btn-success {
  background-color: $melapix;
  border: none;
}

.btn-success:hover {
  background-color: $melapixLight;
}