@import 'styles/_colors';

.MyWork {
  background-color: $lightest;
  color: $medgrey;
  margin-top: 85px;

  h5 {
    color: $dark;
  }

  .work-container {
    height: 75vh;
    overflow: scroll;
    margin-right: 10px;
  }

  .work-collection {
    width: 90%;
    margin: 0 auto;
  }
  .update-form {
    background-color: $dark;
    color: $lightest;
    min-height: 35vh;
  }

  .save-btn {
    margin-top: 15px;
  }

  .btn-dark {
    background-color: $dark;
    color: $lightest;
    margin: 5px 3px;
  }

  .btn-dark:hover {
    background-color: $medgrey;
  }

  .pic-card {
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    overflow-x: hidden;

    .buttons-and-name {
      position: absolute;
      background-color: rgba(255,255,255,.7);
      bottom: 0;
      width: 100%;
      opacity: 0;
    }

    .picture {
      height: 200px;
    }
  }

  .pic-card:hover {
    .buttons-and-name {
      opacity: 1;
    }
    .picture {
      opacity: .7;
    }
  }
}