@import 'styles/_colors';

.Register {
  margin-top: 49px;
  background: url(./images/registerBackground.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
  background-color: $lightest;
  color: $dark;

  #register-form{
    margin-top: 10%;
  }

  h1 {
    color: $dark;
  }
}