@import 'styles/_colors';

.Dashboard {
  background-color: $lightest;
  color: $medgrey;
  margin-top: 85px;

  .recharts-wrapper {
    margin: 25px auto 5px auto;
  }

  .photog-display {
    margin-bottom: 25px;
  }

  .pic-id {
    background-color: $melapix;
    color: $lightest;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .pic-name {
    text-align: left;
    margin-bottom: 0;
  }
}