@import 'styles/_colors';

.AllPhotos {
  background-color: $lightest;
  color: $medgrey;
  margin-top: 68px;

  .search {
    margin-bottom: 30px;
  }

  .pic-list {
    list-style-type: none;
  }

  .btn {
    font-size: 12px;
    padding: 4px 8px;
    margin: 0 5px;
  }
}