@import 'styles/_colors';

.styles_modal__gNwvD {
  margin-top: 80px;
  max-width: 80%;
}

.preview-box {
  max-width: 90%;
  max-height: 580px;
  overflow: scroll;
}

.preview-pic {
  max-width: 90%;

}

.AllPhotos {
  background-color: $lightest;
  color: $medgrey;
  margin-top: 68px;

  .pic-list {
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
  }
}